Source: cern-meta
Section: devel
Priority: extra
Maintainer: Ubuntu CERN Team <ubuntu-cern-bugs@ninsei.hu>
Standards-Version: 3.7.2
Build-Depends: dpkg (>= 1.13.19), debhelper (>= 3)

Package: cern-recommended
Section: admin
Priority: extra
Architecture: all
Depends: cern-linux-generic | cern-linux-server | openafs-modules-dkms, cern-krb5-config, cern-virtual-cvs-gssapi, cern-tnsnames-ora, heimdal-clients | krb5-user, lpadmincern
Description: Recommended packages for CERN Ubuntu
 This package depends on a set of packages, which are
 recommended for an Ubuntu installation at CERN.

Package: cern-grid
Section: admin
Priority: extra
Architecture: all
Depends: lcg-vomscerts, ca-policy-igtf-classic, fetch-crl, globus-proxy-utils
Description: Grid packages of CERN Ubuntu
 This package depends on a set of packages, which are
 recommended for grid Ubuntu installation at CERN.

Package: cern-all
Section: admin
Priority: extra
Architecture: all
Depends: cern-recommended, cern-grid, pvc, chroot-envs
Description: All packages of CERN Ubuntu
 This package depends on all packages, which can 
 be useful in an Ubuntu installation at CERN.
