#!/usr/bin/make -f
#
# debian/rules for cern-meta
#
# GNU copyright 2008 Akos FROHNER <akos@frohner.hu>
#

SHELL := sh -e

build:
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k

# Build architecture-independent files here.
binary-indep: debian/control install
	dh_testdir
	dh_testroot
	dh_installdirs -i
	dh_installdocs -i
	dh_installchangelogs -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i --
	dh_md5sums -i
	dh_builddeb -i

binary: binary-indep

.PHONY: build clean binary-indep binary install
